.trimester{
    display:flex;
    /*padding: 10px;*/
}

.week_days {
  color: #2c3e50;
}

.with_events {
  background-color: #F0F8FF;
  border-radius: 15px;
  cursor: pointer;
}

.day {

}

.month {
    color: #7f8c8d;
    margin-right: 5px;
    margin-left: 5px;
    border-width: 1px;
    border-color: #f0f0f0;
    border-style: solid;
}

.month_name {
  color: #d35400;
}

.current_day {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  border-width: 1px;
  border-color: red;
  border-style: solid;
  background-color: #f1c40f;
}

.not_this_month {
  color: #ecf0f1;
}

.weekend {
  color: #c0392b;
}

td {
  height: 15px;
}