// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_image_background {
  width: 100%;
  height: 200px;
  background-size: 100% 200px;
  background-repeat: no-repeat;
}

