#vboard-table-container {
  width:    75%;
  margin:   0 auto;
  overflow: auto;
}

.vboard-team-button {
  margin:           4px;
  background-color: #EFEFEF;
  border-radius:    4px;
  border:           1px solid #D0D0D0;
  float:            left;
}

.vboard-team-button label {
  float: left;
}

.vboard-team-button label span {
  text-align:    center;
  padding:       3px 0px;
  display:       block;
  border-radius: 4px;
}

.vboard-team-button label input {
  position: absolute;
  top:      -20px;
}

.vboard-team-button input:hover + span {
  background-color: #efE0E0;
}

.vboard-team-button input:checked + span {
  background-color: #911;
  color:            #fff;
}

.vboard-team-button input:checked:hover + span {
  background-color: #c11;
  color:            #fff;
}