<div class='vboard'></div>

<script>
  // $(function() {
  //   $('div.vboard').vboard({
  //     data: [{
  //       team: { id: name: },
  //       elements: [{
  //         user_id: ,
  //         first_name:
  //         last_name:
  //         vacations: [{
  //           id:
  //           date:
  //         }]
  //       }]
  //     }]
  //   });
  // })
</script>