<% @groups = [OpenStruct.new(id: 1, name: 'engeneering', members: [OpenStruct.new(id: 1, name: 'Jun Hanamaki'), OpenStruct.new(id: 1, name: 'Nuno Goncalves')]), OpenStruct.new(id: 2, name: 'product', members: [OpenStruct.new(id: 3, name: 'Sandra Lagarto')])] %>

<% @groups.each do |group| %>
  <div class="vboard-group-button">
     <label>
        <input class='vboard-group-selector' type="checkbox" value="<%= group.id %>" checked><span><%= group.name %></span>
     </label>
  </div>
<% end %>

<table>
  <% @groups.each do |group| %>
    <% group.members.each do |member| %>
      <tr data-member-id='<%= member.id %>'><td><%= member.name %></td></tr>
    <% end %>
  <% end %>
</table>

<div id='vboard-table-container'>
  <table id='vboard-days-table'>
  </table>
</div>

<button><<</button>
<button>>></button>

<script>
  $(function() {
    $.vboard.init();
  });
</script>