<button class="add_calendar" onclick="$.calendar.toggleMode(this); console.log($.calendar.mode)">+</button>
<% @home_presenter.date = DateTime.new(@home_presenter.year, month_ord, 1) %>

<table class="days_info" style="visibility: hidden;">
  <thead>
    <tr class="dmy_info">
      <td>Nr. Colegas</td>
    </tr>
    <tr>
      <td><div class="square_number"></div></td>
    </tr>
    <tr class="names_space">
      <td>
        <div class="member_name">Joaquins de Adrazes</div>
      </td>
    </tr>
  </thead>
</table>

<%= render 'month', month_ord: month_ord, month_big: true %>

<div class="calendar_legend">
  <button onclick="$.calendar.submitVacations();">Submeter</button>
  <div class="chosen_dates">
  </div>
</div>

<script>
  $(function() {
    $.calendar.setDisplayVacationsOnHoverState();
  })
</script>