<% beggining_of_month = DateTime.new(@year, month_ord, 1) %>
<% num_days_in_month = beggining_of_month.end_of_month.day %>
<% num_days_prev_month = (beggining_of_month -1.day).day %>
<% month_num = month_number(beggining_of_month) %>

<span class="month_name"><%= "#{month_name(beggining_of_month)}" %></span>
<table class="month month_big ">
  <thead>
    <tr class="week_days">
      <td>Seg</td>
      <td>Ter</td>
      <td>Qua</td>
      <td>Qui</td>
      <td>Sex</td>
      <td class="weekend">Sab</td>
      <td class="weekend">Dom</td>
    </tr>
  </thead>
  <tbody>
    <% first_week_day = beggining_of_month.wday - 1 %>
    <% day_of_month = 1 - first_week_day %>

    <% # mega hack to start sunday weeks properly. %>
    <% day_of_month = -5 if day_of_month == 2 %>

    <% (0..5).to_a.each do |week_in_month| %>
      <tr>
        <% (0..6).to_a.each do |day_of_week| %>
          <% current_day_of_month = day_of_month + day_of_week #day_of_month is increased by 7 at the end %>
          <% classes = "day #{'with_events hvr-buzz' if [true, false].sample} #{'current_day' if today?(@year, month_num, current_day_of_month)} #{'weekend' if day_of_week > 4}" %>

          <% before_end_of_month = current_day_of_month <= num_days_in_month %>
          <% after_beggining_of_month = current_day_of_month > 0 %>
          <% show_day = before_end_of_month && after_beggining_of_month %>

          <% temp_current_day_of_month = current_day_of_month %>
          <% if current_day_of_month > num_days_in_month %>
            <% classes.gsub!("weekend", "") %>
            <% classes += "not_this_month" %>
            <% temp_current_day_of_month = temp_current_day_of_month - num_days_in_month %>
          <% elsif current_day_of_month < 1 %>
            <% classes.gsub!("weekend", "") %>
            <% classes += "not_this_month" %>
            <% temp_current_day_of_month = num_days_prev_month - (-temp_current_day_of_month) %>
          <% end %>


          <td class="<%= classes %>">
            <div class="md-trigger" data-modal="modal-1" onclick="openModel(this)">
              <%= (temp_current_day_of_month) %>
            </div>
          </td>
        <% end %>
      </tr>
      <% day_of_month += 7 %>
    <% end %>
  </tbody>
</table>

<script>
  function openModel(dayElement) {
    var title = $(dayElement).text() + " de " + $(dayElement).closest("div.month").find(".month_name").text()
    $('#modal-1').find("h3").text(title)
    // $('#modal-1').addClass('md-show md-perspective')
    $('#modal-1').addClass('md-show')
  }
</script>